.chessboard {
  display: grid;
  flex: none;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  margin: 0px auto 50px auto;
  justify-content: center;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25),
    0px 20px 40px rgba(0, 0, 0, 0.3);
}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  background-color: $white-dark;
}

.dark {
  background-color: $brown;
}

.chess-piece {
  width: 60px;
  height: 60px;
}
