// Black Colors
$black: #000000;
$black-light: #393939;
$black-dark: #111111;

// White Colors
$white: #ffffff;
$white-light: #f5f5f5;
$white-dark: #cbcbbd;

// Gray Colors
$gray: #888888;
$gray-light: #cccccc;
$gray-dark: #555555;

// Highlights/Accents
$brown: #986a3f;
$gold: #ffd700;
$tan: #cba052;
$orange: #cb8c4c;
$orange-light: #df9d5a;
$orange-dark: #aa7541;
$cyan: #56d2d2;
$cyan-dark: #38a0a0;
