.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  margin: 0px auto 50px auto;
}

.square {
  width: 75px;
  height: 75px;
}

.light {
  background-color: #f5f5dc;
}

.dark {
  background-color: #0c0c0c;
}
