.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  margin: 0px auto 50px auto;
  justify-content: center;
}

.square {
  width: 75px;
  height: 75px;
}

.light {
  background-color: #cbcbbd;
}

.dark {
  background-color: #986a3f;
}
